<form [formGroup]="form" (ngSubmit)="onSubmit()">


  <div class="input-container">

    <div class="input-container">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" formControlName="username">
    </div>

    <div class="input-container">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" formControlName="password">
    </div>

    <div class="input-container">
      <button type="submit" [disabled]="form.invalid ? true : null">Login</button>
    </div>

    <div class="input-container">
      <button *ngIf="!authService.isLoggedIn" type="button" (click)="onRegisterClick()">Register</button>
    </div>


  </div>

</form>

