:host{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 800px;
}


.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
}
.inputsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    max-height: 400px;
    height: 100%;
    gap: 32px;
    padding: 32px;
    border: 1px solid black;
}
button{
width: 100px;
}