<div class="input-container">
    <div class="input-container">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" [(ngModel)]="username">
    </div>
    <div class="input-container">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" [(ngModel)]="password">
    </div>
    <div class="input-container">
        <button (click)="onButtonClick()" [attr.disabled]="isDisabled() ? true : null">Login</button>
    </div>
</div>
