
<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="input-container">

    <div class="input-container">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" formControlName="username">

      <p *ngIf="form.controls['username'].touched && form.controls['username'].errors?.['required']"> username is required </p>

    </div>

    <div class="input-container">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" formControlName="password">

      <p *ngIf="form.controls['password'].touched && form.controls['password'].errors?.['required']"> password is required </p>

    </div>

    <div class="input-container">
      <label for="firstname">firstName</label>
      <input type="firstname" name="firstname" id="firstname" formControlName="firstname">

      <p *ngIf="form.controls['firstname'].touched && form.controls['firstname'].errors?.['required']"> firstname is required </p>

    </div>

    <div class="input-container">
      <label for="lastname">lastname</label>
      <input type="lastname" name="lastname" id="lastname" formControlName="lastname">

      <p *ngIf="form.controls['lastname'].touched && form.controls['lastname'].errors?.['required']"> lastname is required </p>

    </div>

    <div class="input-container">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" formControlName="email">

      <p *ngIf="form.controls['email'].touched && form.controls['email'].errors?.['required']"> email is required </p>

    </div>


    <div class="input-container">
      <button [disabled]="form.invalid" type="submit">Register</button>
    </div>



  </div>

</form>
