:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  min-height: 100%;
  height: 100%;
}

button {
  background-color: chartreuse;
  border-radius: 0.4em;
  border: 0.1em solid black;
  width: 100%;
}
